:root {
  --linear-gradient-1: linear-gradient(100deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --blue: hsl(237, 63%, 64%);
  --blue-2: hsl(240, 78%, 98%);
  --blue-3: hsl(234, 14%, 85%);
  --blue-4: hsl(234, 14%, 74%);
  --blue-6: hsl(233, 13%, 49%);
  --blue-8: hsl(232, 13%, 33%);
  --blue-hsl: 237, 63%, 64%;
  --blue-3-hsl: 234, 14%, 85%;
  --white: hsl(0, 0%, 100%);
}
