@use '../abstracts' as *;

.card {
  $card: &;
  width: min(100%, rem(400));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: rem(10);
  padding: rem(36) rem(28) rem(30);
  color: var(--blue-6);
  box-shadow: 0 rem(5) rem(20) rem(-4) hsla(var(--blue-hsl), 0.2);

  @include breakpoint(large) {
    width: min(100%, rem(350));

    &:nth-child(1) {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    &:nth-child(3) {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }
  }

  &--blue {
    background-image: var(--linear-gradient-1);
    color: var(--blue-2);

    @include breakpoint(large) {
      padding-block: rem(56) rem(50);
    }
  }

  &__price {
    display: inline-flex;
    align-items: center;
    column-gap: rem(6);
    margin-block: rem(30) rem(32);
    font-size: var(--fs-5);
    color: var(--blue-8);

    #{$card}--blue & {
      color: var(--white);
    }

    & span {
      font-size: var(--fs-6);
    }
  }

  &__list {
    width: 100%;
    margin-block-end: rem(32);
  }

  &__item {
    --border-color: var(--blue-3);
    padding-block: rem(18);
    border-block-end: rem(1) solid var(--border-color);
    text-align: center;

    &:first-of-type {
      border-block-start: rem(1) solid var(--border-color);
    }

    #{$card}--blue & {
      --border-color: hsla(var(--blue-3-hsl), 0.7);
    }
  }

  &__button {
    $button: &;
    width: 100%;
    position: relative;
    background: linear-gradient(var(--white), var(--white)) padding-box, linear-gradient(100deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%)) border-box;
    border: rem(1) solid transparent;
    border-radius: rem(6);
    padding: rem(16);
    font-size: var(--fs-1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: em(2);
    color: var(--white);
    overflow: hidden;
    transition: color var(--duration-2) ease;

    & span {
      position: relative;
      z-index: 1;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      background-image: var(--linear-gradient-1);
      transition: opacity var(--duration-2) ease;
    }

    &:is(:hover, :focus-visible) {
      color: var(--blue);

      &::after {
        opacity: 0;
      }
    }

    &--white {
      background: transparent;
      border-color: var(--white);
      color: var(--blue);

      &::after {
        background: var(--white);
      }

      &:is(:hover, :focus-visible) {
        color: var(--white);
      }
    }
  }
}
